# Copy to .env and fill in your postgres install password
SESSION_SECRET=your_session_secret
PG_USER=your_postgres_user
PG_HOST=localhost
PG_DATABASE=your_postgres_database
PG_PASSWORD=your_postgres_password
PG_PORT=5432